@import url('https://fonts.googleapis.com/css2?family=Fjalla+One&family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');

:root {
  line-height: 1.5;
  font-weight: 400;

  --spring-green: #08a559;
  --ultra-violet: #52489cff;
  --snow: #fcf7f8ff;
  --french-gray: #ced3dcff;
  --light-sky-blue: #90c2e7ff;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: Nunito, sans-serif;
  line-height: 1.5;
  background: var(--snow);
}
main {
  display: flex;
  place-content: center;
  flex-direction: column;
  max-width: 900px;
  margin: 2rem auto;
}
a {
  text-decoration: none;
  color: var(--snow);
}
nav {
  padding: 1.25rem 2rem;
  background-color: var(--ultra-violet);
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

nav h1, footer, .nav-link {
  font-family: "Fjalla One", sans-serif;
  color: var(--snow);
}

.nav-link {
  border: 1px solid var(--snow);
  border-radius: 4px;
  padding: .25rem;
  letter-spacing: 1px;
  transition: .5s;
}
.nav-link:hover {
  background: var(--snow);
  color: var(--ultra-violet);
  transition: .5s;
  padding: .25rem;
}
input {
  border-radius: 8px;
  padding: 0.25rem;
  font-size: 1.5rem;
  border: 2px solid var(--french-gray);
  margin-bottom: 30px;
}
input::placeholder {
  color: var(--french-gray);
}
table {
  background: white;
  border-radius: 12px;
  padding: 0.75rem;
}
th {
  text-align: left;
  border-bottom: 2px ridge var(--french-gray);
  padding: 5px 8px;
  text-transform: uppercase;
}
td {
  padding: 3px 8px;
}
tr:nth-of-type(2n) {
  background: var(--snow);
}
td:nth-of-type(4), td:nth-of-type(1){
  text-align: center;
}
footer{
  position: fixed;
  bottom: 0;
  background: var(--ultra-violet);
  width: 100vw;
  padding: 1.25rem;
  text-align: center;
  font-weight: 700;
  display: flex;
  align-items: center;
  justify-content: center;  
}
footer > span {
  position: fixed;
  right: 10px;
}

.svg-btn {
  height: 1.5rem;
}
.auth-container{
  margin: 0 auto;
}
.auth-container .svg-btn {
  height: 2rem;
}
.auth-container h5 {
  color: var(--french-gray);
  margin-top: 2rem;
}
.form-container {
  display: flex;
  flex-direction: column;
  background: white;
  border-radius: 8px;
  padding: 32px 12px;
  margin-top: 1rem;
}
.login-btn {
  max-width: fit-content;
  padding: .5rem 2rem;
  border-radius: 8px;
  color: var(--ultra-violet);
  background: var(--french-gray);
  border: 2px solid var(--ultra-violet);
  cursor: pointer;
  transition: all .3s;
  font-weight: 600;
  text-transform: uppercase;
}
.login-btn:hover {
  border-radius: 1rem;
  color: var(--spring-green);
  background: var(--snow);
  border: 2px solid var(--spring-green);
}

.nf-container {
  background: white;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  gap: 2rem;
  padding: 5rem 1rem;
  border-radius: 8px;
}
.nf-container a {
  color: var(--french-gray);
  border: 1px solid var(--french-gray);
  border-radius: 8px;
  padding: .5rem 1.5rem;
  cursor: pointer;
}
.nf-container a:hover {
  background: var(--french-gray);
  color: white;
  border: 1px solid white;
  border-radius: 8px;
  padding: .5rem 1.5rem;
  cursor: pointer;
}

